<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.redclip.barter.model.dao.BarterMapper">


	
	<resultMap type="barterVo" id="barterResultSet">
		<id column="BARTER_NO" property="barterNo" />
		<result column="BARTER_NAME" property="barterName" />
		<result column="BARTER_CONTENT" property="barterContent" />
		<result column="BARTER_NICKNAME" property="barterNickname" />
		<result column="BARTER_WRITER" property="barterWriter" />
		<result column="CATEGORY_NO" property="categoryNo" />
		<result column="CATEGORY_NAME" property="categoryName" />
		<result column="BARTER_DATE" property="barterDate" />
		<result column="WISH_COUNT" property="wishCount" />
		<result column="BARTER_STATUS" property="barterStatus" />
		<result column="POINT" property="point" />
		<association resultMap="regionResultSet" property="region" />
		<collection resultMap="barterReplyResultSet" property="barterReplyList" />
		
	</resultMap>
	
	<resultMap type="barterReply" id="bartetReplyResultSet">
	
	</resultMap>
	
	<resultMap type="region" id="regionResultSet">
	
	
	</resultMap>	
	
	<select id="findById" parameterType="_int" resultType="barter">
		<!-- resultMap 적용하여 수정 -->
		SELECT
				BARTER_NO,
				BARTER_NAME,
				BARTER_CONTENT,
				BARTER_WRITER,
				BARTER_NICKNAME,
				CITY_NAME,
				TOWN_NAME,
				VILLAGE_NAME,
				CATEGORY_NO,
				CATEGORY_NAME,
				HIT,
				BARTER_DATE,
				WISH_COUNT,
				BARTER_STATUS,
				POINT,
				REPLY_NO,
				REPLY_CONTENT,
				REPLY_NICKNAME,
				REPLY_DATE
		  FROM
		  		VW_BARTER_DETAIL
		 WHERE
		 		BARTER_NO = #{barterNo}
	
	</select>


</mapper>