<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.redclip.chatting.model.dao.ChatMapper">
	
	
	
	<!-- 채팅방 목록 -->
	<select id="findAll" parameterType="String" resultType="chatRoomVo">
		SELECT
				ROOM_NO roomNo,
				BARTER_NO barterNo,
				BARTER_NAME barterName,
				BARTER_PROFIL barterProfil,
				REPLY_PROFIL replyProfil,
				BARTER_WRITER barterWriter,
				BARTER_NICKNAME barterNickname,
				REPLY_WRITER replyWriter,
				REPLY_NICKNAME replyNickname,
				BARTER_VILLAGE_NAME barterVillageName, 
				REPLY_VILLAGE_NAME replyVillageName,
				CHAT_DATE chatDate,
				CHAT_MESSAGE chatMessage,
				SENDER_ID senderId,
				CHAT_READ chatRead
		  FROM
		  		VW_CHAT_ROOM_LIST
		 WHERE
		 		BARTER_WRITER = #{userId}
		    OR
		    	REPLY_WRITER = #{userId}
	</select>

	 <!-- 채팅방 존재 유무 확인 -->
	 <select id="findChatRoom" parameterType="chatRoom" resultType="chatRoom">
	 	SELECT
	 			ROOM_NO roomNo,
	 			BARTER_NO barterNo,
	 			BARTER_WRITER barterWriter,
	 			REPLY_WRITER replyWriter
	 	  FROM
	 	  		TB_CHAT_ROOM
	 	 WHERE
	 	 		BARTER_WRITER = #{barterWriter}
	 	   AND
	 	   		REPLY_WRITER = #{replyWriter}
	 </select>
	 
	 <!-- 채팅방 생성 및 시퀀스 반환 -->
	 <insert id="newChatRoom" parameterType="chatRoom" >
	 	INSERT
	 	  INTO
	 	  		TB_CHAT_ROOM
	 	  		(
	 	  			ROOM_NO,
	 	  			BARTER_NO,
	 	  			BARTER_WRITER,
	 	  			REPLY_WRITER
	 	  		)
	 	 VALUES
	 	 		(
	 	 			SEQ_CHT.NEXTVAL,
	 	 			#{barterNo},
	 	 			#{barterWriter},
	 	 			#{replyWriter}
	 	 		)
	 	 <selectKey keyColumn="ROOM_NO" keyProperty="roomNo" resultType="_int" order="AFTER">
	 		SELECT
	 				SEQ_CHT.CURRVAL
	 		  FROM
	 		  		DUAL
	 	</selectKey>
	 	
	 </insert>
	 
	 
	 <!-- 채팅방 게시글번호 갱신 (게시글 변경 시 새 채팅방 생성 방지) -->
	 <update id="chatBarterUpdate" parameterType="chatRoom">
	 	UPDATE
	 			TB_CHAT_ROOM
	 	   SET
	 	   		BARTER_NO = #{barterNo}
	 	 WHERE
	 	 		ROOM_NO = #{roomNo}
	 </update>
	 
	 <!-- 채팅 전송 -->
	<insert id="insertMessage" parameterType="chatMessage">
		INSERT 
		  INTO
		  		TB_CHAT_MESSAGE
		  		(
		  		 CHAT_NO,
		  		 ROOM_NO,
		  		 SENDER_ID,
		  		 CHAT_MESSAGE
		  		)
		 VALUES
		 		(
		 		 SEQ_MSG.NEXTVAL,
		 		 #{roomNo},
		 		 #{senderId},
		 		 #{chatMessage}
		 		)
	</insert>
	
	
	<!-- 채팅 내역 select -->
	<resultMap type="chatMessageVO" id="chatMessageResultSet">
		<result column="ROOM_NO" property="roomNo" />
		<result column="BARTER_NO" property="barterNo" />
		<result column="BARTER_PROFIL" property="barterProfil" />
		<result column="BARTER_WRITER" property="barterWriter" />
		<result column="BARTER_NICKNAME" property="barterNickname" />
		<result column="BARTER_VILLAGE_NAME" property="barterVillageName"/>
		<result column="REPLY_PROFIL" property="replyProfil" />
		<result column="REPLY_WRITER" property="replyWriter" />
		<result column="REPLY_NICKNAME" property="replyNickname" />
		<result column="REPLY_VILLAGE_NAME" property="replyVillageName"/>
		<collection resultMap="chatMessageListResultSet" property="chatMessageList" />
	</resultMap>
	<resultMap type="chatMessage" id="chatMessageListResultSet">
		<result column="CHAT_NO" property="chatNo" />
		<result column="CHAT_MESSAGE" property="chatMessage"/>
		<result column="CHAT_DATE" property="chatDate"/>	
		<result column="SENDER_ID" property="senderId"/>
		<result column="CHAT_READ" property="chatRead" />
	</resultMap>
	<select id="chatListByRoomNo" parameterType="_int" resultType="chatMessageVo" resultMap="chatMessageResultSet">
		SELECT
				ROOM_NO,
				BARTER_NO,
				BARTER_PROFIL,
				BARTER_WRITER,
				BARTER_NICKNAME,
				BARTER_VILLAGE_NAME,
				REPLY_PROFIL,
				REPLY_WRITER,
				REPLY_NICKNAME,
				REPLY_VILLAGE_NAME,
				CHAT_NO,
				CHAT_MESSAGE,
				CHAT_DATE,
				SENDER_ID,
				CHAT_READ
		  FROM
		  		VW_CHAT_MESSAGE
		 WHERE
		 		ROOM_NO = #{roomNo}
	</select>
	 
</mapper>