<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.redclip.chatting.model.dao.ChatMapper">
	
	<!-- 채팅 전송 -->
	<insert id="insertMessage" parameterType="chatMessage">
		INSERT 
		  INTO
		  		TB_CHAT_MESSAGE
		  		(
		  		 CHAT_NO,
		  		 ROOM_NO,
		  		 SENDER_ID,
		  		 MESSAGE
		  		)
		 VALUES
		 		(
		 		 SEQ_MSG.NEXTVAL,
		 		 #{roomNo},
		 		 #{senderId},
		 		 #{message}
		 		)
	</insert>
	
	<!-- 채팅 목록 -->
	<select id="findAll" parameterType="String" resultType="chatRoomVo">
		SELECT
				ROOM_NO roomNo,
				BARTER_NO barterNo,
				BARTER_NAME barterName,
				BARTER_PROFIL barterProfil,
				REPLY_PROFIL replyProfil,
				BARTER_WRITER barterWriter,
				BARTER_NICKNAME barterNickname,
				REPLY_WRITER replyWriter,
				REPLY_NICKNAME replyNickname,
				VILLAGE_NAME villageName, 
				CHAT_DATE chatDate,
				MESSAGE message,
				SENDER_ID senderId
		  FROM
		  		VW_CHAT_ROOM_LIST
		 WHERE
		 		BARTER_WRITER = #{userId}
		    OR
		    	REPLY_WRITER = #{userId}
	</select>

	 <!-- 채팅방 존재 유무 확인 -->
	 <select id="findChatRoom" parameterType="chatRoom" resultType="chatRoom">
	 	SELECT
	 			ROOM_NO,
	 			BARTER_NO,
	 			BARTER_WRITER,
	 			REPLY_WRITER
	 	  FROM
	 	  		TB_CHAT_ROOM
	 	 WHERE
	 	 		BARTER_WRITER = #{barterWriter}
	 	   AND
	 	   		REPLY_WRITER = #{replyWriter}
	 </select>
	 
	 <!-- 채팅방 생성 및 시퀀스 반환 -->
	 <insert id="newChatRoom" parameterType="chatRoom" >
	 	<selectKey keyProperty="roomNo" resultType="_int" order="BEFORE">
	 		SELECT
	 				SEQ_CHT.NEXTVAL
	 		  FROM
	 		  		DUAL
	 	</selectKey>
	 	INSERT
	 	  INTO
	 	  		TB_CHAT_ROOM
	 	  		(
	 	  			ROOM_NO,
	 	  			BARTER_NO,
	 	  			BARTER_WRITER,
	 	  			REPLY_WRITER
	 	  		)
	 	 VALUES
	 	 		(
	 	 			#{roomNo},
	 	 			#{barterNo},
	 	 			#{barterWriter},
	 	 			#{replyWriter}
	 	 		)
	 </insert>
	 
	 <!-- 채팅방 게시글번호 갱신 (게시글 변경 시 새 채팅방 생성 방지) -->
	 <update id="chatBarterUpdate" parameterType="chatRoom">
	 	UPDATE
	 			TB_CHAT_ROOM
	 	   SET
	 	   		BARTER_NO = #{barterNo}
	 	 WHERE
	 	 		ROOM_NO = #{roomNo}
	 </update>
	 
	 
	 
</mapper>