<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.redclip.main.model.dao.MainMapper">
	<select id="getRecentProducts" resultType="barterVO" >
	 SELECT 
    BARTER_NO,
    BARTER_NAME,
    BARTER_NICKNAME,
    VILLAGE_NAME,
    WISH_COUNT,
    BARTER_DATE,
    BARTER_FILE_NO,
    BARTER_FILE_NAME
FROM (
    SELECT 
        d.BARTER_NO,
        d.BARTER_NAME,
        d.BARTER_NICKNAME,
        d.VILLAGE_NAME,
        d.BARTER_DATE,
        d.BARTER_FILE_NO,
        d.BARTER_FILE_NAME
    FROM
        VW_BARTER_DETAIL d
    WHERE
        d.BARTER_FILE_NO = (
            SELECT MIN(BARTER_FILE_NO)
            FROM VW_BARTER_DETAIL
            WHERE BARTER_NO = d.BARTER_NO
        )
) 
WHERE 
     ROWNUM BETWEEN 1 AND 12
	</select>
	
	<select id="getCountTop" resultType="barterVO" >
	SELECT 
        BARTER_NO,
        BARTER_NAME,
        BARTER_NICKNAME,
        VILLAGE_NAME,
        BARTER_DATE,
        BARTER_FILE_NO,
        BARTER_FILE_NAME,
        WISH_COUNT
 FROM       
		(SELECT
		    BARTER_NO,
		    BARTER_NAME,
		    BARTER_NICKNAME,
		    VILLAGE_NAME,
		    BARTER_DATE,
		    BARTER_FILE_NO,
		    BARTER_FILE_NAME,
		    WISH_COUNT
		FROM (
		    SELECT
		        BARTER_NO,
		        BARTER_NAME,
		        BARTER_NICKNAME,
		        VILLAGE_NAME,
		        BARTER_DATE,
		        BARTER_FILE_NO,
		        BARTER_FILE_NAME,
		        WISH_COUNT,
		        ROW_NUMBER() OVER (PARTITION BY BARTER_NO ORDER BY BARTER_FILE_NO) AS rn
		    FROM
		        VW_BARTER_DETAIL
		)
		WHERE rn = 1 ORDER BY WISH_COUNT DESC
		)
		WHERE
		    	ROWNUM BETWEEN 1 AND 12;
	
	
	</select>
	
	
	
	
	
	
</mapper>