<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.redclip.member.model.dao.MemberMapper">

   <select id="checkId" parameterType="string" resultType="_int">
	    SELECT 
	    		COUNT(*)
	    FROM 
	    		TB_MEMBER
	    WHERE 
	    		USER_ID = #{userId}
	</select>
	
	<select id="checkNick" parameterType="string" resultType="_int">
	  SELECT 
	    		COUNT(*)
	    FROM 
	    		TB_MEMBER
	    WHERE 
	    		NICKNAME = #{userNick}
	
	
	</select>
<select id="login" parameterType="member" resultType="member">
		SELECT
		USER_ID userId,
		USER_PWD userPwd
   		FROM
		TB_MEMBER
		WHERE
		USER_ID = #{userId}
		AND
		STATUS ='Y'
		<!-- AND USER_PWD = #{userPwd} AND STATUS = 'Y' -->
	</select>
	
	<select id="selectgu" parameterType="int" resultType="region">
        SELECT 
        DISTINCT 
        CITY_CODE cityCode,
        CITY_NAME cityName,
        TOWN_CODE townCode, 
        TOWN_NAME townName,
        VILLAGE_CODE villageCode,
        VILLAGE_NAME villageName
        
        FROM VW_REGION
        WHERE 
        CITY_CODE = #{cityCode}
    </select>
	
	<select id="selectdong" parameterType="int" resultType="region">
        SELECT 
        DISTINCT 
        CITY_CODE cityCode,
        CITY_NAME cityName,
        TOWN_CODE townCode, 
        TOWN_NAME townName,
        VILLAGE_CODE villageCode,
        VILLAGE_NAME villageName
        
        FROM VW_REGION
        WHERE 
        TOWN_CODE = #{townCode}
    </select>
	
	
</mapper>