<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.redclip.member.model.dao.MemberMapper">

   <select id="checkId" parameterType="string" resultType="_int">
	    SELECT 
	    		COUNT(*)
	    FROM 
	    		TB_MEMBER
	    WHERE 
	    		USER_ID = #{userId}
	</select>
	
	<select id="checkNick" parameterType="string" resultType="_int">
	  SELECT 
	    		COUNT(*)
	    FROM 
	    		TB_MEMBER
	    WHERE 
	    		NICKNAME = #{userNick}
	
	
	</select>
	
</mapper>