<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  	<settings>
  		<setting name="jdbcTypeForNull" value="NULL"/>
  	</settings>
  	
  	<typeAliases>
  		<typeAlias type="com.kh.redclip.sample.model.vo.Sample" alias="sample" />
  		<typeAlias type="com.kh.redclip.member.model.vo.Member" alias="member" />
  		<typeAlias type="com.kh.redclip.barter.model.vo.Barter" alias="barter" />
  		<typeAlias type="com.kh.redclip.barter.model.vo.BarterVO" alias="barterVo" />
  		<typeAlias type="com.kh.redclip.barter.model.vo.BarterReply" alias="barterReply" />
  		<typeAlias type="com.kh.redclip.region.model.vo.Region" alias="region" />
  		<typeAlias type="com.kh.redclip.member.model.vo.BlockMember" alias="block"/>
  		<typeAlias type="com.kh.redclip.member.model.vo.ReportMember" alias="report"/>
  		<typeAlias type="com.kh.redclip.member.model.vo.StatusMember" alias="status"/>
  	</typeAliases>
  
  	<mappers>
  		<mapper resource="mapper/sample-mapper.xml" />
  		<mapper resource="mapper/member-mapper.xml" />
  		<mapper resource="/mapper/barter-mapper.xml" />
  	</mappers>
  	
</configuration>